.App {
  text-align: center;
}
h1{
  color: rgb(255, 166, 0);
}

#Calendar {
 
}




.rbc-date-cell {
  color: rgb(15, 114, 226);
}

.rbc-today {
  background-color: rgb(196, 226, 250) !important;
}

@media (max-width: 480px) {
  .rbc-toolbar {
    display: block !important;
  }
}
